apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: starrocks-leader-election-rolebinding
  namespace: starrocks
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: starrocks-leader-election-role
subjects:
- kind: ServiceAccount
  name: starrocks-controller
  namespace: starrocks
