# Default values for operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  rbac:
    # if set true, the clusterrole, clusterrolebinding, role, rolebinding, serviceaccount resources will be created for
    # operator. If changed to false later, these resources will be deleted.
    create: true
    serviceAccount:
      name: "starrocks"
      # Optional annotations to add to serviceaccount manifest
      annotations: {}
      # Optional labels to add to serviceaccount manifest
      labels: {}

# TimeZone is used to set the environment variable TZ for pod, with Asia/Shanghai as the default.
timeZone: Asia/Shanghai

# set the nameOverride values for creating the same resources with parent chart.
# In version v1.7.1 or before, there is only one chart called kube-starrocks, and the chart name is the prefix
# of some resources created by the chart.
# In version v1.8.0, the kube-starrocks chart is split into two charts, and to keep backward compatibility, the
# nameOverride is used to set the prefix of the resources created by operator chart.
nameOverride: "kube-starrocks"

starrocksOperator:
  enabled: true
  # annotations for starrocks operator.
  annotations: {}
  namespaceOverride: ""
  image:
    # image sliced by "repository:tag"
    repository: starrocks/operator
    tag: v1.8.5
  imagePullPolicy: Always
  replicaCount: 1
  resources:
    limits:
      cpu: 500m
      memory: 800Mi
    requests:
      cpu: 500m
      memory: 400Mi
  # If specified, the pod's nodeSelectorï¼ŒdisplayName="Map of nodeSelectors to match when scheduling pods on nodes"
  # Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
  nodeSelector: {}
  tolerations: []
    # - key: "key"
    #   operator: "Equal|Exists"
    #   value: "value"
    #   effect: "NoSchedule|PreferNoSchedule|NoExecute(1.6 only)"
  # If specified, it will restrict operator to watch resources in the specified namespace. And
  #  1. You must deploy your StarRocks cluster to the specified namespace.
  #  2. You can not assign multiple namespaces to watchNamespace field.
  # Note: In most cases, you should not set this value. If your kubernetes cluster manages too many nodes, and
  # operator watching all namespaces use too many memory resources, you can set this value.
  # Defaults to all namespaces.
  watchNamespace: ""
  # Additional operator container environment variables
  # You specify this manually like you would a raw deployment manifest.
  # Ref: https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/
  # operator supports the following environment variables:
  # KUBE_STARROCKS_UNSUPPORTED_ENVS: "XXX,YYY" # The environment variables that will not be passed to starrocks container.
  env: []
